/* Header.css */

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: #fff;
  z-index: 9999;
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

/* LOGO */
.logo {
  height: 55px;
  width: 55px;
  cursor: pointer;
  margin-left: 2rem;
  transition: transform 0.3s ease;
}
.logo:hover {
  transform: scale(1.05);
}

/* HEADER FLEX */
.header-left,
.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-right {
margin-right: 2rem;}

/* NAV LINKS */
.nav-links {
  display: flex;
  gap: 30px;
  transition: all 0.4s ease;
}
.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  position: relative;
}
.nav-links a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background: linear-gradient(90deg,#ff7a18,#af002d);
  transition: width 0.3s ease;
}
.nav-links a:hover::after {
  width: 100%;
}
.nav-links a:hover {
  color: #ff7a18;
}

/* ICONS */
.cart-btn,
.menu-toggle {
  cursor: pointer;
  color: #fff;
  transition: transform 0.2s ease, color 0.2s ease;
}
.cart-btn:hover,
.menu-toggle:hover {
  transform: scale(1.2);
  color: #ff7a18;
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    top: 4rem;
    right: 0;
    height: 0;
    width: 100%;
    padding: 2rem 0 0;
    flex-direction: column;
    background: rgba(17,17,17,0.95);
    opacity: 0;
    overflow: hidden;
    transition: transform 0.4s ease, opacity 0.4s ease;
    border-left: 1px solid rgba(255,255,255,0.1);
    gap: 35px;
    backdrop-filter: blur(8px);
  }

  .nav-links.open {
    height: 40vh;
    opacity: 1;
    transition: .2s ease-in-out;
  }

  .menu-toggle {
    display: block;
    z-index: 10000; /* always on top */
  }

  .nav-links a {
    font-size: 18px;
  margin-left: 3rem;
  }
}

/* MOBILE OVERLAY */
.mobile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(4px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
  z-index: 8000;
}
.mobile-overlay.active {
  opacity: 1;
  pointer-events: all;
}